<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a style="border-width: 1; border: solid; text-align: center; color:rgb(0, 2, 128);" class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <div class="well well-sm">{{ mars.news_paragraph }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image and Facts table --> 
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>
          <img
            src="{{mars.featured_image }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h4>Mars Facts</h4>
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>
      <!-- Section for Mars Hemispheres thumbnails-->
      <div class="table-responsive" id="mars-hemispheres-thumbs">
        <h2>Mars Hemispheres Thumbnails</h2> 
          <table class="table">
            <tr>
                {% for hemisphere in mars.hemispheres %}
                <td>
                  <figure class="figure">
                    <img src="{{hemisphere.thumb}}" class="figure-img img-fluid rounded" alt="Mars Hemispheres">
                     <figcaption class="figure-caption">{{hemisphere.title}}</figcaption>
                   </figure>
                 </td>
                {%endfor%}
            </tr>
          </table>
      </div>
      <!-- Section for Mars Hemispheres-->
      <div class="row" id="mars-hemispheres">
        <div class="media">
          <div class="media-body">
            <h2>Mars Hemispheres</h2> 
              <ul style="list-style: none;">
                {% for hemisphere in mars.hemispheres %}
                  <li>
                    <div class="col-md-6">
                      <img
                      src="{{hemisphere.img_url}}"
                      class="img-responsive"
                        alt="Responsive image"
                      />
                      <div class="well well-sm">{{ hemisphere.title }}</div>
                    </div>
                  </li>
                {%endfor%}
              </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
